* {
    border: 2px solid red;
    outline-color: deepskyblue;
    outline-offset: 5px;
}

html {
    background-color: #00539F;
    border-style: dashed;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-style: dotted;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    border-color: mediumspringgreen;
}

nav {
    border-color: orange;
}

main {
    border-color: green;
}

#fab {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}

footer {
    border-color: powderblue;
}

h1 {
    border-color: lightskyblue;
}

article {
    border-color: thistle;
}

#website-structure {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

#firefox {
    width: 100px;
    height: 100px;
}

p {
    border-color: darkblue;
}

ol, ul, dl {
    margin: 3px;
    border: 2px solid greenyellow;
}

li {
    margin: 3px;
    border: 2px solid turquoise;
}

dt {
    border: 2px solid blueviolet;
}

dd {
    border: 2px solid steelblue;
}

span {
    border-color: magenta;
}

b {
    border-color: black;
}

i {
    border-color: violet;
}

u {
    border-color: cornflowerblue;
}

sup, sub {
    border-color: lightskyblue;
}

code {
    border-color: darkgrey;
}

samp {
    border-color: transparent;
}

samp:hover {
    border-color: blueviolet;
}

.warning {
    background-color: pink;
}

hr {
    border-color: cadetblue;
}

#sasuke {
    width: 450px;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
}

.with-background {
    background-image: url("../images/firefox2.png");
    background-color: black;
    color: whitesmoke;
    background-repeat: space;
}

video, audio {
    display: block;
    margin: 0 auto;
}

#text-decorated {
    text-decoration: underline wavy maroon;
    caret-color: crimson;
    cursor: grab;
}